// Place all the styles related to the Guess controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ------ Index Page ---------

#index-page {
	margin-top: 50px;
	margin-bottom: 50px;
}

// ------ Guess Page ---------

#guess-page {
	#instructions {
		margin-bottom: 30px;
	}

	#submit-button {
		margin-top: 20px;
	}

	#confirm-section {
		margin-top: 30px;

		h4 {
			margin-bottom: 20px;
		}

		button {
			margin-right: 5px;
		}
	}
}

